<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>Memory Collector</title>

	<!-- Stylesheets -->
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.theme.css'>
	<link rel='stylesheet' href='main.css'>
	
</head>
<body>



	<div id='page_container'>

		<!-- Control Panel -->
		<section id='control_panel'>

			<!-- Page Header -->
			<h3 id='page_header'>Memory Collector</h3>

			<!-- Control Panel Icons -->
			<div class='control_row'>
				<i id='add_memory' class="fa fa-plus" aria-hidden="true"></i>

				<select id='sort_select'>
					<option value='newest'>newest</option>
					<option value='oldest'>oldest</option>
					<option class='sort_by_emotion' value='joy'>joy</option>
					<option class='sort_by_emotion' value='anger'>anger</option>
					<option class='sort_by_emotion' value='sadness'>sadness</option>
					<option class='sort_by_emotion' value='fear'>fear</option>
					<option class='sort_by_emotion' value='disgust'>disgust</option>
					<option class='sort_by_emotion' value='neutral'>neutral</option>
				</select>

				<span>
					<span id='memories_num'></span>&nbsp;<span id='memories_qty_label_prefix'></span>&nbsp;Memories&nbsp;<span id='memories_qty_label_suffix'></span>
				</span>

				<select id='filter_select'>
					<option class='filter_by_emotion' value='all'>all</option>					
					<option class='filter_by_emotion' value='joy'>joy</option>
					<option class='filter_by_emotion' value='anger'>anger</option>
					<option class='filter_by_emotion' value='sadness'>sadness</option>
					<option class='filter_by_emotion' value='fear'>fear</option>
					<option class='filter_by_emotion' value='disgust'>disgust</option>
					<option class='filter_by_emotion' value='neutral'>neutral</option>
				</select>

			</div>


		</section>

		<section id='memory_display'>

			<div class='memory-display-emotions-meter'>
				<span class="emotions-meter-segment segment-joy"></span>
				<span class="emotions-meter-segment segment-sadness"></span>
				<span class="emotions-meter-segment segment-anger"></span>
				<span class="emotions-meter-segment segment-fear"></span>
				<span class="emotions-meter-segment segment-disgust"></span>
				<span class="emotions-meter-segment segment-neutral"></span>
			</div>

			<div class='memory-display-header'>

				<div class='memory-display-date-time'>
					<span class='memory-display-month'></span>&nbsp;<span class='memory-display-date'></span>,&nbsp;<span class='memory-display-year'></span>&nbsp;-&nbsp;<span class='memory-display-day'></span>&nbsp;at&nbsp;<span class='memory-display-time'></span>
				</div>
				<div id='memory-display-close'>
					<i class="fa fa-times" aria-hidden="true"></i>
				</div>
			</div>


			<div class='memory-display-body'>
				<div class='memory-display-text'></div>
				<div class='memory-video-container'></div>
				<audio id='memory-audio-player' controls></audio>
			</div>


			<div class='memory-display-footer'>

				<div class='memory-media-text'>&nbsp;</div>
				<div class='memory-display-controls'>
					<i class="fa fa-music memory-toggle-audio hide"></i>
					<i class="fa fa-picture-o memory-toggle-image hide"></i>
					<i class="fa fa-video-camera memory-toggle-video hide"></i>
				</div>
				<div class='memory-display-delete'>

					<span class='memory-delete-cancel'>cancel</span>
					<span class='memory-delete-text visible'>delete</span>
					<i class="fa fa-trash-o delete-memory-icon" aria-hidden="true"></i>

				</div>

			</div>


		</section>

		<section id='memory_container'></section>
		

	</div>




	<div id='add_memory_dialog'>
		<div id='add_memory_modal'>
			<!-- Text Input -->

			<div class='modal_content'>

				<h3 class='modal_header'>Add New Memory</h3>
				<span class='modal_close'><i class="fa fa-times" aria-hidden="true"></i></span>

				<textarea id='input_memory' autofocus></textarea>
				<br>

				<!-- Sliders -->
				<div id='emotion_sliders'>
					<div class='emotion_slider' id='slider_joy'>
						<div class='slider_label'>
							<span>Joy</span>
						</div>
					</div>
					<div class='emotion_slider' id='slider_sadness'>
						<div class='slider_label'>
							<span>Sadness</span>
						</div>
					</div>
					<div class='emotion_slider' id='slider_anger'>
						<div class='slider_label'>
							<span>Anger</span>
						</div>
					</div>
					<div class='emotion_slider' id='slider_fear'>
						<div class='slider_label'>
							<span>Fear</span>
						</div>
					</div>
					<div class='emotion_slider' id='slider_disgust'>
						<div class='slider_label'>
							<span>Disgust</span>
						</div>
					</div>
					<div class='emotion_slider' id='slider_neutral'>
						<div class='slider_label'>
							<span>Neutral</span>
						</div>
					</div>
				</div>

				<!-- Attachments -->
				<div id='input_attachments'>
					<ul>
						<li id='attachment_button_audio' class='input_attachment_icon' data-attachment-type='audio'>
							<i class='fa fa-check-circle attachment_check hide'></i>
							<i class="fa fa-music"></i>
						</li>
						<li id='attachment_button_image' class='input_attachment_icon' data-attachment-type='image'>
							<i class='fa fa-check-circle attachment_check hide'></i>
							<i class="fa fa-picture-o"></i>
						</li>
						<li id='attachment_button_video' class='input_attachment_icon' data-attachment-type='video'>
							<i class='fa fa-check-circle attachment_check hide'></i>
							<i class="fa fa-video-camera"></i>
						</li>
					</ul>
				</div>
				<div class='attachments_input_container'>
					
					<div class='attachments_input hide' data-attachment-type="audio">
						<input id="audio_text_input" class="attachment_text_input" type="text" placeholder="enter audio url here">
						<button class='add_attachment_url' data-attachment-type="audio" >update</button>
					</div>
					<div class='attachments_input hide' data-attachment-type="image">
						<input id="image_text_input" class="attachment_text_input" type="text" placeholder="enter image url here">
						<button class='add_attachment_url' data-attachment-type="image" >update</button>
					</div>
					<div class='attachments_input hide' data-attachment-type="video">
						<input id="video_text_input" class="attachment_text_input" type="text" placeholder="enter video url here">
						<button class='add_attachment_url' data-attachment-type="video" >update</button>
					</div>					


				</div>

			</div> <!-- end .modal_content -->

			<div id='modal_buttons'>
				<div id='modal_cancel' class='modal_button'>Cancel</div>
				<div id="modal_reset" class="modal_button">Reset</div>
				<div id='save_new_memory' class='modal_button'>Save Memory</div>
			</div>
		</div>
	</div>




	<!-- Underscore Templates -->
	<script type='text/template' id='memory_template'>
		<div class='memory_contents'>
			<div class='memory_model_date'><%= attributes.date %></div>
			<div class='memory_model_text'><%= attributes.memory_text %></div>
			<div class='memory_model_image'><%= attributes.media.image %></div>
			<div class='memory_model_video'><%= attributes.media.video %></div>
			<div class='memory_model_audio'><%= attributes.media.audio %></div>
			<div class='memory_model_joy'><%= attributes.emotions.joy %></div>
			<div class='memory_model_sadness'><%= attributes.emotions.sadness %></div>	
			<div class='memory_model_anger'><%= attributes.emotions.anger %></div>
			<div class='memory_model_fear'><%= attributes.emotions.fear %></div>
			<div class='memory_model_disgust'><%= attributes.emotions.disgust %></div>			
		</div>
	</script>
	

	<!-- JavaScripts -->
	<script src="https://connect.soundcloud.com/sdk/sdk-3.1.1.js"></script>
	<script src='keys.js'></script>

	<script src='node_modules/jquery/dist/jquery.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
	<script src='node_modules/noty/js/noty/packaged/jquery.noty.packaged.min.js'></script>
	<script src='node_modules/underscore/underscore-min.js'></script>
	<script src='node_modules/backbone/backbone-min.js'></script>
	<script src='node_modules/backbone.localstorage/backbone.localStorage-min.js'></script>
	<script src='node_modules/autosize/dist/autosize.min.js'></script>
	<script src='main.js'></script>
</body>
</html>